li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: none;
}

button {
  border: none;
  background: none;
}

footer {
  background-color: #fff;
  min-height: 200px;
}

#social-bar {
  position: fixed;
  justify-content: center;
  background-color: #555;
}

.color-1 {
  color: #272a31;
}

.color-2 {
  color: #ec5242;
}

.color-3 {
  color: #d3d3d3;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.9);
  width: 90vw;
  height: 80%;
  position: fixed;
  box-shadow: #272a31 5px 5px 10px;
}

.navelement {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 7rem;
  padding-left: 20vw;
  padding-right: 20vw;
}

.navstyle {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 7rem;
  padding-left: 20vw;
  padding-right: 20vw;
}

.color-4 {
  color: #555;
}

#closingli {
  border: none;
  text-align: center;
  font-size: 3.5rem;
}

#listnavitems > :hover {
  color: #ec5242;
  transition: ease-in 0.2s;
}

#aboutli {
  color: #272a31;
}

#aboutliactive {
  color: #ec5242;
}

#homeactive {
  color: #ec5242;
}

.padding-sides {
  padding-right: 5vw;
  padding-left: 5vw;
}

.social-bar-list {
  display: flex;
  justify-content: flex-end;
  min-width: 90vw;
  width: 90%;
  height: 30px;
}

.social-bar-item {
  margin-right: 5px;
  padding-top: 5px;
}

#navlogo {
  height: 35px;
  max-width: 70px;
}

#navbar {
  display: flex;
  flex-direction: row;
  height: 5vh;
  min-height: 55px;
  max-width: 100vw;
  position: sticky;
}

.anchor-social {
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-size: 1.1rem;
}

.itemmarginright {
  margin-right: 5px;
}

#hamburguerlogo {
  padding: 10px;
  height: 3rem;
  width: 3rem;
}

.nodisplay {
  display: none;
}

.welcome {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
}

.textwelcome {
  background-color: #f7f7f7;
  border: #fff solid 5px;
  padding: 30px 45px 20px 20px;
  line-height: 1.8;
  color: #555;
}

.sectionwelcome {
  background: url('../img/mobile_intro.background.png') no-repeat center center fixed;
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  height: 70vh;
  max-height: 1080px;
  min-height: 550px;
}

#welcomeid {
  height: auto;
  width: 100vw;
}

#aboutid {
  height: auto;
  width: 100vw;
}

.sectionlogo {
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 12vh;
  padding-top: 12vh;
  min-height: auto;
}

.date {
  color: #555;
  font-size: 2em;
  font-weight: 900;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  padding: 5px;
  font-size: 2rem;
}

.title {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  background-image: url('../img/redo-comic.background.png');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url('../img/Partners.background.jpg') no-repeat center center;
  background-size: cover;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.activities {
  width: 94vw;
  height: 15vh;
  min-height: 140px;
  background: rgba(85, 85, 85, 0.3);
  margin-top: 2%;
  margin-bottom: 2%;
  border: #000 solid 1px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 2vh 1vw 2vh 1vw;
}

.activity-title {
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.programtext {
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.headders {
  font-size: 2rem;
  letter-spacing: 3px;
  font-family: 'lato', sans-serif;
  font-weight: 700;
}

#programsubtitle {
  color: #fff;
}

.divline {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  margin-top: 2%;
  margin-bottom: 5%;
}

.programicon {
  margin: 5px;
}

.programlink {
  background-color: #ec5242;
  color: #fff;
  font-family: 'lato', sans-serif;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 1.4rem;
}

#speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sectionstyle {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.speaker {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5px;
  margin-right: 5px;
}

.speakertext {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 11px;
  margin-left: 5px;
}

.speakerimg {
  width: 140px;
  height: 140px;
  margin-right: 11px;
}

.linelight {
  width: 10%;
  height: 1px;
  background-color: #555;
  margin-top: 2%;
  margin-bottom: 5%;
}

.participation {
  font-size: 1rem;
  color: #ec5242;
  font-family: 'lato', sans-serif;
  font-style: italic;
}

#logos {
  background-color: #272a31;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgpartner {
  width: 30%;
  height: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

#partners {
  background-color: #272a31;
  display: flex;
}

.subpartners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#partnerstitle {
  color: #fff;
}

.footerlight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#footerimg {
  width: 45%;
  height: 50%;
  margin-right: 3%;
}

.paragrphtext {
  font-style: italic;
  font-size: 0.8rem;
}

.textfooter {
  max-width: 45%;
  margin-left: 3%;
}

/* About */

.about {
  align-items: center;
}

.centertext {
  text-align: center;
}

.aboutwelcome {
  background: url('../img/about.background.png') no-repeat center center rgba(85, 85, 85, 0.2);
  height: 70vh;
  max-height: 1080px;
  min-height: 900px;
  margin-bottom: 5vh;
}

#aboutemail {
  font-size: 1.2rem;
}

.textlogo {
  text-align: center;
}

#paragraphcompetition {
  padding-bottom: 50px;
}

#imgcompetition {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border: rgba(85, 85, 85, 0.3) solid 1px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonalimgs {
  width: 100%;
  margin-bottom: 50px;
}

.imgtestimonals {
  width: 100%;
  height: 100%;
  max-height: 252px;
  max-width: 455px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 5px;
}

@media screen and (min-width: 760px) {
  .display {
    display: flex;
  }

  #hamburguerlogo {
    display: none;
  }

  .nodisplay {
    display: inherit;
  }

  .nodisplaydesktop {
    display: none;
  }

  #elements-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 60px;
    background-color: #fff;
    justify-content: space-between;
    position: relative;
  }

  .navelement {
    font-family: 'lato', sans-serif;
    color: #272a31;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1px;
    padding-left: 4vw;
    padding-right: 2vw;
    min-height: 20px;
    padding-top: 10px;
    border: none;
  }

  #listnavitems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 20px;
  }

  #deskelements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  .welcome {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .listdesk {
    font-family: 'lato', sans-serif;
    padding: 1rem;
    color: #fff;
    font-weight: bolder;
    padding-top: 10px;
  }

  #navbar {
    top: 47px;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
  }

  .desknav {
    padding-top: 15px;
  }

  .contacttext {
    margin-top: 5vh;
    max-width: 700px;
  }

  .elements {
    box-shadow: none;
  }

  .title {
    font-size: 3rem;
    line-height: 1.5;
  }

  .activities {
    max-width: 250px;
    min-height: 275px;
    flex-direction: column;
    margin-bottom: 5vh;
  }

  .desktopactivties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 50vw;
    justify-content: center;
  }

  .schedule {
    box-shadow: none;
  }

  #seeprogram {
    color: #fff;
    text-decoration: underline;
  }

  .program {
    padding-bottom: 10vh;
  }

  #dinamic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .speaker {
    max-width: 40%;
  }

  .spekaerstext {
    font-size: 0.7rem;
  }

  #logos {
    background-color: #272a31;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }

  #footerimg {
    max-width: 250px;
    max-height: 150px;
    margin-right: 3%;
  }

  #email {
    text-decoration: underline;
    font-weight: bolder;
  }

  #pragracompetitiondesk {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
  }

  #imgcompetition {
    width: 30%;
    height: 30%;
    margin-bottom: 50px;
    border: rgba(85, 85, 85, 0.3) solid 1px;
  }

  .footerdark {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #272a31;
  }

  .footertext {
    color: #fff;
  }

  .testimonalimgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .testimonialsingleimg {
    padding: 1%;
  }

  .divline {
    width: 2%;
    height: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #paragraphtestimonial {
    padding-bottom: 3%;
  }

  .navstyle {
    font-family: 'lato', sans-serif;
    color: #272a31;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1px;
    padding-left: 4vw;
    padding-right: 2vw;
    min-height: 20px;
    padding-top: 10px;
    border: none;
  }
}
